<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PHLOII</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="cancel-container">
        <h1 class="cancel-message">Just a Reminder!</h1>
        <p class="cancel-description">You already have an active subscription. Please wait until your current subscription ends.</p>
        <a href="<%= url %>" class="go-home-button">Go Back to Homepage</a>

    </div>
</body>
</html>
