<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Cancelled - PHLOII</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="cancel-container">
        <h1 class="cancel-message">Payment Cancelled</h1>
        <p class="cancel-description">It looks like you cancelled the payment. No worries, you can try again anytime.</p>
        <a href="<%= url %>" class="go-home-button">Go Back to Homepage</a>

    </div>
</body>
</html>
