/* Reset default browser styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and font settings */
body {
    font-family: 'Poppins';
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Center content in a container */
.checkout-container {
     font-family: 'Poppins';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
}

.checkout-content {
     font-family: 'Poppins';
    background-color: #0E0E0E;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    width: 100%;
    max-width: 650px;
}

.checkout-heading {
     font-family: 'Poppins';
    font-size: 24px;
    color: #FBB90D;
    font-weight: 600;
    margin-bottom: 20px;
}

.description {
     font-family: 'Poppins';
    font-size: 1.2rem;
    color: #C8C8D0;
    margin-bottom: 25px;
}

.price-info {
     font-family: 'Poppins';
    margin-bottom: 20px;
}

.price-text {
     font-family: 'Poppins';
    font-size: 1.5rem;
    color: #FBB90D;
    font-weight: bold;
}

.price {
     font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 600;
    color: #FBB90D;
}

.subscription-info {
     font-family: 'Poppins';
    margin-bottom: 30px;
}

.info-text {
     font-family: 'Poppins';
    font-size: 1rem;
    color: #C8C8D0;
    line-height: 1.5;
    margin-bottom: 25px;
}

.checkout-button {
     font-family: 'Poppins';
    background: linear-gradient(90deg, #FBB90D 0%, #22EBFF 100%);
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
 
}


.checkout-button:hover {
     font-family: 'Poppins';
    background-color: #005bb5;
}

@media (max-width: 768px) {
    .checkout-container {
        padding: 30px;
    }

    .checkout-content {
        padding: 20px;
    }

    .checkout-heading {
        font-size: 2rem;
    }

    .price-text {
        font-size: 1.3rem;
    }

    .info-text {
        font-size: 0.9rem;
    }
}





